<div class="container">
	<ul class="footer-menu">
		<li class="footer-menu__item"><a href="#" class="footer-menu__link">Получить деньги</a></li>
		<li class="footer-menu__item footer-menu__item--thin"><a href="#" class="footer-menu__link">Правила</a></li>
		<li class="footer-menu__item footer-menu__item--thin"><a href="#" class="footer-menu__link">Личный кабинета</a></li>
		<li class="footer-menu__item"><a href="#" class="footer-menu__link">Онлайн консультант</a></li>
		<li class="footer-menu__item  footer-menu__item--5th"><a href="#" class="footer-menu__link">Вложить деньги</a></li>
		<li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
		<li class="footer-menu__item"><a href="#" class="footer-menu__link">Вопросы и ответы</a></li>
	</ul>
	<div class="contacts">
		<a class="contacts__tel contacts__tel--footer hidden" href="tel:+88005553377">8 800 555-33-77</a>
		<a class="contacts__tel contacts__tel--footer" href="tel:+88003336799">8 800 333 67 99</a>
		<a class="contacts__email" href="mailto:nfo@credeo.ru">nfo@credeo.ru</a>
	</div>
	<div class="copyright">Банковские услуги по выпуску и обслуживанию банковских картр Visa &nbsp;&#171;CREDEO&#187;&nbsp; оказывает компанией &#171;КРЕДЕО&#187;&nbsp; (ООО), ЩГРН 1127746337685.</div>
	<a href="#home" class="transition transition--footer">
		<div class="pointer pointer--up"></div>
	</a>
</div>
