<div class="container">
	<section>
		<h1 class="title">Наши преимущества</h1>
		<span class="title__line"></span>
		<ul class="advantages">
			<li class="advantages__item">
				<div class="advantages__picture"></div>
				<div class="advantages__title">Одобрение Онлайн</div>
				<p class="advantages__text">Заполните онлайн-заявку на сайте и получите решение и кредитный рейтинг за пару минут.</p>
			</li>
			<li class="advantages__item">
				<div class="advantages__picture"></div>
				<div class="advantages__title">Мгновенный перевод денег</div>
				<p class="advantages__text">После одобрения, деньги будут мгновенно отправлены на Вашу карту Visa или Mastercard любого банка.</p>
			</li>
			<li class="advantages__item">
				<div class="advantages__picture"></div>
				<div class="advantages__title">Улучшение условий</div>
				<p class="advantages__text">Для добросовестных клиентов мы предлогаем повышение кредитного рейтинга, улучшение условий и снижение процентной ставки.</p>
			</li>
			<li class="advantages__item">
				<div class="advantages__picture"></div>
				<div class="advantages__title">Прозрачные условия</div>
				<p class="advantages__text">Чем лучше Ваша кредитная история, тем лучше будут условия в Кредео.</p>
			</li>
			<li class="advantages__item">
				<div class="advantages__picture"></div>
				<div class="advantages__title">Ежемесячный платеж</div>
				<p class="advantages__text">Равными суммами, без дополнительных комиссий и скрытых платежей.</p>
			</li>
			<li class="advantages__item">
				<div class="advantages__picture"></div>
				<div class="advantages__title">Досрочное погашение</div>
				<p class="advantages__text">За досрочное погашение не взимается никаких дополнительных комиссий.</p>
			</li>
		</ul>
	</section>
		
</div>