// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$calendar-name: 'calendar';
$calendar-x: 349px;
$calendar-y: 0px;
$calendar-offset-x: -349px;
$calendar-offset-y: 0px;
$calendar-width: 68px;
$calendar-height: 68px;
$calendar-total-width: 417px;
$calendar-total-height: 297px;
$calendar-image: '../img/sprite.png';
$calendar: (349px, 0px, -349px, 0px, 68px, 68px, 417px, 297px, '../img/sprite.png', 'calendar', );
$cred-card-name: 'cred-card';
$cred-card-x: 177px;
$cred-card-y: 166px;
$cred-card-offset-x: -177px;
$cred-card-offset-y: -166px;
$cred-card-width: 88px;
$cred-card-height: 60px;
$cred-card-total-width: 417px;
$cred-card-total-height: 297px;
$cred-card-image: '../img/sprite.png';
$cred-card: (177px, 166px, -177px, -166px, 88px, 60px, 417px, 297px, '../img/sprite.png', 'cred-card', );
$decrease-name: 'decrease';
$decrease-x: 109px;
$decrease-y: 0px;
$decrease-offset-x: -109px;
$decrease-offset-y: 0px;
$decrease-width: 83px;
$decrease-height: 161px;
$decrease-total-width: 417px;
$decrease-total-height: 297px;
$decrease-image: '../img/sprite.png';
$decrease: (109px, 0px, -109px, 0px, 83px, 161px, 417px, 297px, '../img/sprite.png', 'decrease', );
$hands-name: 'hands';
$hands-x: 197px;
$hands-y: 46px;
$hands-offset-x: -197px;
$hands-offset-y: -46px;
$hands-width: 90px;
$hands-height: 62px;
$hands-total-width: 417px;
$hands-total-height: 297px;
$hands-image: '../img/sprite.png';
$hands: (197px, 46px, -197px, -46px, 90px, 62px, 417px, 297px, '../img/sprite.png', 'hands', );
$increase-name: 'increase';
$increase-x: 0px;
$increase-y: 0px;
$increase-offset-x: 0px;
$increase-offset-y: 0px;
$increase-width: 104px;
$increase-height: 161px;
$increase-total-width: 417px;
$increase-total-height: 297px;
$increase-image: '../img/sprite.png';
$increase: (0px, 0px, 0px, 0px, 104px, 161px, 417px, 297px, '../img/sprite.png', 'increase', );
$logo-name: 'logo';
$logo-x: 197px;
$logo-y: 0px;
$logo-offset-x: -197px;
$logo-offset-y: 0px;
$logo-width: 147px;
$logo-height: 41px;
$logo-total-width: 417px;
$logo-total-height: 297px;
$logo-image: '../img/sprite.png';
$logo: (197px, 0px, -197px, 0px, 147px, 41px, 417px, 297px, '../img/sprite.png', 'logo', );
$pen-list-name: 'pen-list';
$pen-list-x: 0px;
$pen-list-y: 166px;
$pen-list-offset-x: 0px;
$pen-list-offset-y: -166px;
$pen-list-width: 78px;
$pen-list-height: 69px;
$pen-list-total-width: 417px;
$pen-list-total-height: 297px;
$pen-list-image: '../img/sprite.png';
$pen-list: (0px, 166px, 0px, -166px, 78px, 69px, 417px, 297px, '../img/sprite.png', 'pen-list', );
$plus-name: 'plus';
$plus-x: 386px;
$plus-y: 122px;
$plus-offset-x: -386px;
$plus-offset-y: -122px;
$plus-width: 21px;
$plus-height: 21px;
$plus-total-width: 417px;
$plus-total-height: 297px;
$plus-image: '../img/sprite.png';
$plus: (386px, 122px, -386px, -122px, 21px, 21px, 417px, 297px, '../img/sprite.png', 'plus', );
$pointer-down-name: 'pointer-down';
$pointer-down-x: 349px;
$pointer-down-y: 160px;
$pointer-down-offset-x: -349px;
$pointer-down-offset-y: -160px;
$pointer-down-width: 32px;
$pointer-down-height: 32px;
$pointer-down-total-width: 417px;
$pointer-down-total-height: 297px;
$pointer-down-image: '../img/sprite.png';
$pointer-down: (349px, 160px, -349px, -160px, 32px, 32px, 417px, 297px, '../img/sprite.png', 'pointer-down', );
$pointer-up-name: 'pointer-up';
$pointer-up-x: 349px;
$pointer-up-y: 122px;
$pointer-up-offset-x: -349px;
$pointer-up-offset-y: -122px;
$pointer-up-width: 32px;
$pointer-up-height: 33px;
$pointer-up-total-width: 417px;
$pointer-up-total-height: 297px;
$pointer-up-image: '../img/sprite.png';
$pointer-up: (349px, 122px, -349px, -122px, 32px, 33px, 417px, 297px, '../img/sprite.png', 'pointer-up', );
$procent-name: 'procent';
$procent-x: 83px;
$procent-y: 166px;
$procent-offset-x: -83px;
$procent-offset-y: -166px;
$procent-width: 89px;
$procent-height: 60px;
$procent-total-width: 417px;
$procent-total-height: 297px;
$procent-image: '../img/sprite.png';
$procent: (83px, 166px, -83px, -166px, 89px, 60px, 417px, 297px, '../img/sprite.png', 'procent', );
$ruble-name: 'ruble';
$ruble-x: 398px;
$ruble-y: 73px;
$ruble-offset-x: -398px;
$ruble-offset-y: -73px;
$ruble-width: 19px;
$ruble-height: 26px;
$ruble-total-width: 417px;
$ruble-total-height: 297px;
$ruble-image: '../img/sprite.png';
$ruble: (398px, 73px, -398px, -73px, 19px, 26px, 417px, 297px, '../img/sprite.png', 'ruble', );
$small-calendar-name: 'small-calendar';
$small-calendar-x: 349px;
$small-calendar-y: 73px;
$small-calendar-offset-x: -349px;
$small-calendar-offset-y: -73px;
$small-calendar-width: 44px;
$small-calendar-height: 44px;
$small-calendar-total-width: 417px;
$small-calendar-total-height: 297px;
$small-calendar-image: '../img/sprite.png';
$small-calendar: (349px, 73px, -349px, -73px, 44px, 44px, 417px, 297px, '../img/sprite.png', 'small-calendar', );
$small-plus-name: 'small-plus';
$small-plus-x: 386px;
$small-plus-y: 160px;
$small-plus-offset-x: -386px;
$small-plus-offset-y: -160px;
$small-plus-width: 17px;
$small-plus-height: 16px;
$small-plus-total-width: 417px;
$small-plus-total-height: 297px;
$small-plus-image: '../img/sprite.png';
$small-plus: (386px, 160px, -386px, -160px, 17px, 16px, 417px, 297px, '../img/sprite.png', 'small-plus', );
$time-name: 'time';
$time-x: 0px;
$time-y: 240px;
$time-offset-x: 0px;
$time-offset-y: -240px;
$time-width: 91px;
$time-height: 57px;
$time-total-width: 417px;
$time-total-height: 297px;
$time-image: '../img/sprite.png';
$time: (0px, 240px, 0px, -240px, 91px, 57px, 417px, 297px, '../img/sprite.png', 'time', );
$spritesheet-width: 417px;
$spritesheet-height: 297px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($calendar, $cred-card, $decrease, $hands, $increase, $logo, $pen-list, $plus, $pointer-down, $pointer-up, $procent, $ruble, $small-calendar, $small-plus, $time, );
$spritesheet: (417px, 297px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
