.container{
	max-width: 994px;
	margin: 0 auto;

	@include respond-to(tablet) {
	    padding: 0 10px;
	}
}

.top{
	background-color: $darkBg;
}

.navigation{
	display: inline-block;
	vertical-align: top;
	position: relative;

	.hamburger{
		display: inline-block;
		vertical-align: top;
		margin-top: 11px;
		cursor: pointer;

		&__line{
			height: 4px;
			background-color: #FFF;
			margin-bottom: 4px;

			&--last{
				margin-bottom: 0;
			}

		}

		&__text{
			font: $RoboL-12;
		 	color: $whiteText;
		 	text-transform: uppercase;
		 	margin-top: -2px;
		}

		&-active{
			.hamburger__line{
				background-color: $blueBg;
			}
			.hamburger__text{
				color: $blueBg;
			}
		}
	}
		 	@include respond-to(mobile) {
			    margin-bottom: 5px;
			}
}

.menu{
	position: absolute;
	background-color: $darkBg;
	width: 200px;
	
	&--close{
		display: none;
	}

	&__link{
		font: $RoboL-16;
	 	color: $whiteText;
	 	display: inline-block;
	 	width: 100%;
	 	padding: 5px 15px;
	 	border-bottom: $grayBorder;

	 	&--last{
	 		border-bottom: $transparent;
	 	}

	 	&:hover{
			border-bottom: $blueBorder;
			transition: 0.3s;
		}
	}
}
	/*horisontal menu*/
.hor-menu{
	display: inline-block;
	float:right;	

	&__item{
		display: inline-block;
		vertical-align: top;
		// padding: 0 19px 0 14px;
		border-bottom: $transparent;

	 	&:hover{
			border-bottom: $blueBorder;
			transition: 0.3s;
		}

		// &--active{
		// 	border-bottom: $blueBorder;
		// }
	}

	&__link{
		font: $RoboL-18;
	 	color: $whiteText;
	 	letter-spacing: 0.1px;
		line-height: 54px;
		border-right: $grayBorder;
		padding: 0 19px 0 14px;


		&--last{
			padding: 0 24px 0 14px;
		}
	}

	@include respond-to(tablet) {
	    display: none;
	}		
}

.logo{
	display: inline-block;
	vertical-align: top;
	margin: 7px 0 4px 6.2%;

	&__link{
		display: inline-block;
		@include sprite($logo);
	}

	@include respond-to(mobile) {
	    float: right;
	}
}

.contacts__tel{
	display: inline-block;
	margin: 20px 0.7% 0 2.2%; 
	font: $RoboL-16;
	color: $blueText;
	float: right;

	&:hover{
		color: $whiteText;
		transition: 0.5s;		
	}

	@include respond-to(mobile) {
	    display: none;
	}
}

.background{
	background-color: black;
	background: url("../img/header.jpg") no-repeat top center;
	background-size: cover;
}

.header_text{
	display: inline-block;
	margin-left: -2px;

	&__title{
		margin-top: 30px;
		font: $RoboTh-41;
	 	color: $whiteText;
	 	text-transform: uppercase;

	 	@include respond-to(mobile) {
			font: $RoboTh-30;
		}
	}

	&__content{
		margin: 16px 0 30px;
		font: $RoboTh-30;
	 	color: $whiteText;
	 	text-transform: uppercase;
	 	letter-spacing: -0.1px;

	 	.longer{
	 		letter-spacing: .05px;
	 	}

	 	@include respond-to(tablet) {
			font: $RoboTh-24;
		}
		@include respond-to(mobile) {
		    font: $RoboL-16;
		}
	}
}

.second-part{
	background-color: $darkFilter;
	font-size: 0;
	position: relative;
}

.credit-form{
	margin: 22px 4.8% 11px 0;
	padding: 0 0 33px 15px;
	background-color: $whiteFilter;
	display: inline-block;
	vertical-align: top;
	width: 50.3%;

	@include respond-to(tablet) {
		width: 100%;
		margin-right: 0;
	}

	&__title{
		display: inline-block;
		margin: 32px 5.5% 61px 0;
		font: $RoboL-24;
	 	color: $whiteText;
	 	text-transform: uppercase;

	 	@include respond-to(mobile) {
			margin-bottom: 20px;
			margin-left: 10%;
			text-align: center;
		}
	}

	&__amount{
	 	width: 42.5%;
	 	padding: 6px 8% 7px 5%;
		text-align: center;
		font: $RoboL-24;
	 	color: $whiteText;
	 	border: $whiteBorder;
	 	background-color: $transparentBg;

	 	@include respond-to(mobile) {
			width: 80%;
			margin: 0 10% 40px;
			padding-right:15%;
		}
	 	
	 	&::-webkit-input-placeholder {color: $whiteText; letter-spacing: .5px;}
		&::-moz-placeholder          {color: $whiteText; letter-spacing: .5px;}/* Firefox 19+ */
		&:-moz-placeholder           {color: $whiteText; letter-spacing: .5px;}/* Firefox 18- */
		&:-ms-input-placeholder      {color: $whiteText; letter-spacing: .5px;}
	}

	.input-holder{
		position: relative;
	}

	.ruble{
		@include sprite($ruble);
		position: absolute;
		top: -21px;
		right: 21px;

		@include respond-to(mobile) {
			right: 15%;
		}
	}

	&__term{
		margin: 29px 0 31px;

		@include respond-to(mobile) {
			margin: 20px 0 20px;
		}

		.term{
			font: $RoboL-16;
	 		color: $whiteText;
	 		margin-right: 8%;

	 		@include respond-to(mobile) {
				margin: 20px 10% 20px;
			}

	 		&--blue{
	 			font: $RoboM-16;
	 			color: $blueText2;
	 		}

	 		&__text{
	 			display: inline-block;
	 			vertical-align: middle;
	 			font: $RoboL-16;
	 			color: $whiteText;
	 			line-height: 18px;

	 			@include respond-to(mobile) {
					margin: 10px 10%;
				}
	 		}
		}
	}

	&__btn{
		padding: 9px 9.5% 9px 7.5%;
		border-radius: 30px;
		border: none;
		background-color: $blueBg;
		font: $RoboL-24;
	 	color: $whiteText;
	 	cursor: pointer;

	 	&:hover{
			background-color: #019fc6;
			// transition: 0.5s 0.1s;
	 	}

	 	@include respond-to(mobile) {
			margin-left: 10%;
			font: $RoboL-18;
		}
	}

	.amount__line{
		display: inline-block;
		padding-right: 23px;
		width: 100%;

		.noUi-target {
		    border: none;
		    border-radius: none;
		    box-shadow: none;

			background: #9f9f9f; /* Old browsers */
			background: -moz-linear-gradient(left,  #9f9f9f 50%, #d7d7d7 50%, #d7d7d7 50%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  #9f9f9f 50%,#d7d7d7 50%,#d7d7d7 50%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  #9f9f9f 50%,#d7d7d7 50%,#d7d7d7 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f9f9f', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
			
			&:before{
			    	content:' ';
			    	display: inline-block;
			    	position: absolute;
			    	border-radius: 50%;
			    	width: 12px;
				    height: 12px;
				    left: 50%;
				    top: -3px;
				    margin-left: -6px;
			    	background: $blueBg;
			    }

		}

		.noUi-horizontal {
		    height: 4px;
		    margin-bottom: 29px;

		    @include respond-to(mobile) {
		    	margin-bottom: 15px;
			   }
		
		    .noUi-handle {
			    width: 22px;
			    height: 22px;
			    left: -7px;
			    top: -8px;
			    border: none;
			    border-radius: 50%;
			    background: $blueBg;
			    cursor: default;
			    box-shadow: none;

			    &:before{
			    	content:' ';
			    	display: inline-block;
			    	border: $blueLine;
			    	border-radius: 50%;
			    	width: 40px;
				    height: 40px;
				    position: absolute;
				    left: -9px;
				    top: -9px;
			    	background:none;
			    }

			    &:after{
			    	display: none;
			    }
			}
		}

		.noUi-connect {
		    background: $blueBg;
		    box-shadow: none;
		}
	}

	.amount__mark{
		font: $RoboL-16;
		color: $whiteText;

		@include respond-to(mobile) {
			font: $RoboL-12;
		}
		
		&--middle{
			margin: 0 0 0 34.5%;

			@include respond-to(tablet) {
				margin-left: 38%;
			}

			@include respond-to(mobile) {
				margin-left: 33%;
			}
		}

		&--last{
			float: right;
			margin-right: 4px;
		}
	}

	.money-time{
		display: inline-block;
		vertical-align: top;
		margin-right: 6%;

		@include respond-to(mobile) {
			margin: 0 10% 30px;
		}	

		&__text{
			font: $RoboL-16;
			color: $whiteText;

			@include respond-to(mobile) {
				margin-top: 10px;
			}

			&--blue{
		 		font: $RoboR-16;
		 		color: $blueText2;
		 	}
		}
	}
}

.info{
	display: inline-block;
	width: 40%;
	margin-top: 73px;

	@include respond-to(tablet) {
		width: 100%;
		margin-top: 40px;
	}

	@include respond-to(mobile) {
		width: auto;
		margin-left: 10%;
		margin-bottom: 40px;
	}

	&__item{
		margin-bottom: 41px;

		@include respond-to(tablet) {
			width: 33%;
			display: inline-block;
			vertical-align: top;
		}
		@include respond-to(mobile) {
			width: 100%;
			margin-bottom: 20px;
		}

		&--middle{
			margin-bottom: 45px;
		}
	}

	&__text{
		font: $RoboTh-24;
	 	color: $whiteText;
	 	text-transform: uppercase;
	 	display: inline-block;
	 	vertical-align: top;
	 	margin-left: 8.5%;

	 	@include respond-to(tablet) {
		 	margin-left: 8.5%;
		 	font: $RoboL-16;
		 	width: 70%;
		}
	}
}

.plus{
	display: inline-block;
	@include sprite($plus);
}

.transition{
	width: 70px;
	height: 64px;
	border-radius: 50%;
	position: absolute;
	bottom: -26px;
	left: 50%;
	margin-left: -35px;
	background-color: $btnBg;

	.pointer{
		display: inline-block;
		margin: 16px 19px;
		&--down{
			@include sprite($pointer-down);
		}
	}
}
